@use '../utils';

$clr-white: hsla(0, 0%, 100%, 1);
$clr-pastel-white: hsla(240, 27%, 98%, 1);
$clr-very-light-blue: hsla(231, 75%, 93%, 1);
$clr-bluish-grey: hsla(231, 36%, 63%, 1);
$clr-dark-bluish-grey: hsla(231, 20%, 61%, 1);
$clr-light-blue: hsla(252, 100%, 73%, 1);
$clr-mid-blue: hsla(252, 94%, 67%, 1);
$clr-header-grey: hsla(231, 20%, 27%, 1);
$clr-charcoal: hsla(233, 30%, 21%, 1);
$clr-charcoal2: hsla(233, 30%, 11%, 1);
$clr-almost-black: hsla(233, 31%, 17%, 1);
$clr-almost-black2: hsla(231, 28%, 7%, 1);
$clr-pink: hsla(0, 80%, 63%, 1);
$clr-peach: hsla(0, 100%, 80%, 1);
$clr-green: hsla(160, 67%, 52%, 1);
$clr-orange: hsla(34, 100%, 50%, 1);


$font-family: 'League Spartan',
sans-serif;

$fs-12: utils.calculateRem(12);
$fs-13: utils.calculateRem(13);
$fs-14: utils.calculateRem(14);
$fs-15: utils.calculateRem(15);
$fs-16: utils.calculateRem(16);
$fs-18: utils.calculateRem(18);
$fs-20: utils.calculateRem(20);
$fs-24: utils.calculateRem(24);
$fs-28: utils.calculateRem(28);
$fs-32: utils.calculateRem(32);
$fs-36: utils.calculateRem(36);
$fs-40: utils.calculateRem(40);
$fs-56: utils.calculateRem(56);

$spacer1: 1.5rem;

:root {
    font-family: $font-family;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: $clr-almost-black;
    background-color: $clr-pastel-white;

}

@media (prefers-color-scheme: light) {
    :root {
        color: $clr-almost-black;
        background-color: $clr-pastel-white;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

/* screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}