@use '../utils';

$clr-white: hsla(0, 0%, 100%, 1);
$clr-mid-blue: hsla(252, 94%, 67%, 1);
$clr-dark-grey: hsla(231, 28%, 7%, 1);
$clr-light-purple: hsla(231, 20%, 61%, 1);
$clr-light-blue: hsla(252, 100%, 73%, 1);
$clr-almost-black: hsla(233, 31%, 17%, 1);
$clr-charcoal: hsla(233, 30%, 21%, 1);
$clr-very-light-blue: hsla(231, 75%, 93%, 1);
$clr-bluish-grey: hsla(231, 36%, 63%, 1);
$clr-dark-bluish-grey: hsla(231, 20%, 61%, 1);
$clr-pink: hsla(0, 80%, 63%, 1);
$clr-peach: hsla(0, 100%, 80%, 1);
$clr-pastel-white: hsla(240, 27%, 98%, 1);
$clr-charcoal2: hsla(233, 30%, 11%, 1);
$clr-almost-black2: hsla(231, 28%, 7%, 1);














