//media query control
@mixin mQ($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin fonts($color, $fontsize, $fontweight) {
    color: $color;
    font-weight: $fontweight;
    font-size: $fontsize;
}