@use '../base';
@use '../utils';

.edit-form>*+* {
    margin-block-start: 2.5rem;
}

.edit-title {
    font-size: base.$fs-24;
    padding-inline: 1rem;
}

.invoice-num-edit {
    display: inline;
    margin-inline-start: 1.5rem;
    font-size: inherit;

    &::before {
        top: -6px;
        left: -1rem;
    }
}

.edit-invoice-details {
    border: none;
    display: grid;
    gap: 1rem;
}

.edit-field-title {
    @include utils.fonts(base.$clr-blue-400, base.$fs-15, 700);
}

.address-line {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.label {
    @include utils.fonts(base.$clr-blue-100, base.$fs-13, 500);
    padding-block: 0.75rem;
}

.input {

    &:hover,
    &:focus {
        outline: dashed currentColor;
        outline-offset: .35em;
    }

    @include utils.fonts(base.$clr-black-100, base.$fs-15, 700);
    border: 1px solid base.$clr-white-300;
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
    // min-width: 100%;
}

.costing-line {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    @include utils.mQ(22.5rem) {
        flex-direction: row;
        align-items: center;
        justify-items: center;

    }
}

.calculate-line {
    padding-block: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;

    @include utils.mQ(45rem) {
        max-width: 12rem;
    }
}

.calculate-line-container {
    display: flex;
    flex-direction: column;
    align-self: self-end;
    flex: 1 1 25%;
}

.container-delete,
.quantity-line {
    flex: 1 1 15%;
}

.total-line {
    display: flex;
    flex-direction: column;
}

.price-line,
.qty-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}