@use '../base';
@use '../utils';

.edit-form>*+* {
    margin-block-start: 2.5rem;
}

.edit-title {
    font-size: base.$fs-24;
    padding-inline: 1rem;
}

.invoice-num-edit {
    display: inline;
    margin-inline-start: 1.5rem;
    font-size: inherit;

    &::before {
        top: -6px;
        left: -1rem;
    }
}

.edit-invoice-details {
    border: none;
    display: grid;
    gap: 1rem;
}

.edit-field-title {
    @include utils.fonts(base.$clr-blue-400, base.$fs-15, 700);
}

.address-line {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.label {
    @include utils.fonts(base.$clr-blue-100, base.$fs-13, 500);
    padding-block: 0.75rem;
}

.input {
    @include utils.fonts(base.$clr-black-100, base.$fs-15, 700);
    border: 1px solid base.$clr-white-300;
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
    // min-width: 100%;
}

.costing-line {
    @include utils.mQ(22.5rem) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 0.5rem;
    }
}

.calculate-line {
    max-width: 5rem;
    padding-block: 0.5rem;
    @include utils.mQ(45rem) {
        max-width: 12rem;
    }
}

.calculate-line-container {
    display: flex;
    flex-direction: column;
    align-self: self-end;
}

/*
.quantity {
    min-width: 50px;
    width: 100%;
}

.price {
    min-width: 120px;
    width: 100%;
}
*/
.total-line {
    display: flex;
    flex-direction: column;
}

.price-line,
.qty-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}