@use '../base';
@use '../utils';

.edit-form>*+* {
    margin-block-start: 1.5rem;
}

.edit-title {
    font-size: base.$fs-24;
    padding-inline: 1rem;
}

.invoice-num-edit {
    display: inline;
    margin-inline-start: 1.5rem;
    font-size: inherit;

    &::before {
        top: -6px;
        left: -1rem;
    }
}

.edit-invoice-details {
    border: none;
    display: grid;
    gap: 1rem;
}

.edit-field-title {
    @include utils.fonts(base.$clr-blue-400, base.$fs-15, 700);
}

.address-line {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex: 1 1 100%;
}

.label {
    @include utils.fonts(base.$clr-blue-100, base.$fs-13, 500);
    padding-block: 0.75rem;
}

.input {

    &:hover,
    &:focus {
        outline: dashed currentColor;
        outline-offset: -0.5em;
    }

    @include utils.fonts(base.$clr-black-100, base.$fs-15, 700);
    border: 1px solid base.$clr-white-300;
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
    // min-width: 100%;
}

.costing-line {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    @include utils.mQ(22.5rem) {
        flex-direction: row;
        align-items: center;
        justify-items: center;

    }
}

.calculate-line {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;

    @include utils.mQ(45rem) {
        max-width: 12rem;
    }
}

.calculate-line-container {
    display: flex;
    flex-direction: column;
    align-self: self-end;
    flex: 1 1 25%;
}

.container-delete,
.quantity-line {
    flex: 1 1 15%;
}

.total-line {
    display: flex;
    flex-direction: column;
}

.price-line,
.qty-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.postal-city {      
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );    
}

.footer-edit {
    justify-content: flex-end;
    padding: base.$spacer1;
    background-color: base.$clr-white-100;
    box-shadow: 0px -20px 20px 1px base.$clr-black-600;
}

.btn-cancel {
    background-color: base.$clr-white-400;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    border: none;
    text-decoration: none;

    @include utils.fonts(base.$clr-blue-100, base.$fs-15, 700);
}

.btn-save {
    background-color: base.$clr-blue-400;
    padding: 1rem;
    border-radius: 24px;
    border: none;
    @include utils.fonts(base.$clr-white-100, base.$fs-15, 700);
}

.btn-add-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: base.$clr-white-400;
    gap: 1rem;
}

.form-errors {
    color: base.$clr-pink-300;
}