@use '../base';
@use '../utils';

.landing-page,
.login,
.signup {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-page {
    gap: 2.5rem;
    text-align: center;
}

.login {
    gap: 1rem;
    padding-block: 6rem;
}

.test-data {
    flex-direction: column;
}

.login-container,
.container-signup,
.container-login {
    flex-direction: column;
}