@use "../base";
@use "../utils";

.landing-page,
.login,
.signup {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-page {
  gap: 2.5rem;
  text-align: center;
  padding-inline: base.$spacer1;
}

.login,
.signup {
  gap: 2rem;
  padding-block: 6rem;
  max-width: 24rem;
}

.test-data {
  flex-direction: column;
}

.login-container,
.container-signup,
.container-login {
  flex-direction: column;
}
.rule-item {
	list-style: decimal;
}
.container-signup,
.container-login {
  width: 100%;
  max-width: 24rem;
}

.container {
  justify-content: center;
}
