@use '../base';
@use '../utils';

.show-dialog {
    position: fixed;
    flex-direction: column;
    gap: 2.5rem;
    background: darken(hsla(225deg, 9%, 9%, 1), 50%);
    // background-color: lighten(base.$clr-black-300, 20%);
}