@use '../base';
@use '../utils';

.app {
    background-color: base.$clr-white-200;
    overflow-x: hidden;
}

.body-size {
    height: 100vh;
    overflow: hidden;
}

.pre-loading {
    position: relative;
    z-index: 1;
}

.address-sender-details,
.address-reciever-details {
    display: flex;
    flex-direction: column;
    line-height: 1.38;
    @include utils.fonts(base.$clr-blue-100, base.$fs-13, 500);
}

span.container-img {
    padding: calc(base.$spacer1 * 0.75);
    background: base.$clr-white-100;
    border-radius: 50%;
}

.mobile-hidden {
    visibility: hidden;
    width: 0;
    height: 0;

    @include utils.mQ(40rem) {
        visibility: visible;
        width: fit-content;
        height: fit-content;
        padding-left: calc(base.$spacer1 * 0.5);
    }
}

.dark-mode {
    background-color: base.$clr-black-300;
    color: base.$clr-white-100;
    min-height: 100vh;

    .summary-title,
    .filter-label {
        color: base.$clr-white-100;
    }

    .filter {
        color: base.$clr-white-100;
        background-color: base.$clr-black-300;
    }

    .invoice-num,
    .client-name,
    .amount-total {
        color: base.$clr-white-300;
    }

    .address-sender-details,
    .address-reciever-details {
        color: base.$clr-white-300;
    }

    .invoice-descr,
    .invoice-date-title,
    .bill-to-title,
    .email-title {
        color: base.$clr-white-300;
    }

    .invoice-date,
    .payment-date-view,
    .billed-name,
    .item-descr,
    .email-to,
    .gross-total {
        color: base.$clr-white-100;
    }

    .item-summary {
        background-color: base.$clr-black-400;
        color: base.$clr-white-100;
    }

}