@use '../base';
@use '../utils';

.app {
    background-color: base.$clr-pastel-white;
}

.main {
    margin: base.$spacer1;
    max-width: 45.6rem;

    @include utils.mQ(40rem) {
        margin-inline: auto;
    }
}

.pre-loading {
    position: relative;
    z-index: 1;
}

.address-sender-details, .address-reciever-details {
    display: flex;
    flex-direction: column;
    line-height: 1.38;
    color: base.$clr-bluish-grey;
    font-weight: 500;
    font-size: base.$fs-13;
}