@use '../base';
@use '../utils';

.nav-view {
    background: base.$clr-white-100;
    padding-block: calc(base.$spacer1 * 2);
    padding-inline: calc(base.$spacer1 * 0.5);
    border-radius: 8px;

    @include utils.mQ(40rem) {
        padding: calc(base.$spacer1 * 1.5);
    }
}


.container-invoice {
    background-color: base.$clr-white-100;
    position: relative;
}

.project-item-heading {
    display: grid;

    @include utils.mQ(40rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: calc(base.$spacer1 * 1.5) 0;
    }
}

.invoice-details {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: calc(base.$spacer1 * 1.5);
    margin-block: calc(base.$spacer1 * 2);
    padding: base.$spacer1;
    border-radius: 8px;

    @include utils.mQ(22.5rem) {
        grid-template-columns: 1fr 1fr;
    }

    @include utils.mQ(45rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: calc(base.$spacer1 * 1.5);
    }
}

.address-sender {
    @include utils.mQ(22.5rem) {
        grid-area: 2/1/3/2;
    }

    @include utils.mQ(45rem) {
        grid-area: 1/4/2/5;
    }
}

.invoice-dates {
    @include utils.mQ(22.5rem) {
        grid-area: 3/1/4/2;
    }

    display: flex;
    flex-direction: column;
    gap: base.$spacer1;
}

.bill-to {
    @include utils.mQ(22.5rem) {
        grid-area: 3/2/3/3;
    }
}

.email-address {
    @include utils.mQ(22.5rem) {
        grid-area: 4/1;
    }

    @include utils.mQ(45rem) {
        grid-area: 3/3/4/4;
    }
}

.invoice-descr,
.invoice-date-title,
.bill-to-title,
.email-title {
    @include utils.fonts(base.$clr-blue-100, base.$fs-16, 500);
    line-height: 1.15;
}

.invoice-date,
.payment-date-view,
.billed-name,
.item-descr,
.email-to,
.gross-total {
    @include utils.fonts(base.$clr-black-100, base.$fs-16, 700);
}

.footer-view {
    position: absolute;
    left: 0;
    background-color: base.$clr-white-100;
    padding-block: calc(base.$spacer1 * 3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.tablet-hidden {
    @include utils.mQ(40rem) {
        display: none;
    }
}

.item-details {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include utils.mQ(40rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.total {
    grid-area: 2/2;

    @include utils.mQ(40rem) {
        grid-area: 1/4;
    }
}

.item-qty {
    grid-area: 2/1;

    @include utils.mQ(40rem) {
        grid-area: 1/2;
    }
}


.unit-price {
    grid-area: 2/1;
    display: flex;
    justify-content: center;

    @include utils.mQ(40rem) {
        grid-area: 1/3;
        flex-direction: column;
    }
}

.unit-price,
.item-qty {
    font-size: base.$fs-15;
    font-weight: 700;
    color: base.$clr-blue-100;
    @include utils.fonts(base.$clr-blue-100, base.$fs-15, 700);
}

.item-summary {
    background-color: hsla(231, 67%, 99%, 1);
    padding: 1.5rem;
}

.items {
    display: flex;
    flex-direction: column;
    gap: base.$spacer1;
}

.grand-total-container {
    background-color: base.$clr-black-500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(base.$spacer1 * 2);
}

.grand-total {
    @include utils.fonts(base.$clr-white-100, base.$fs-24, 700);
}

.grand-total-title {
    @include utils.fonts(base.$clr-white-100, base.$fs-16, 500);
}

.dark-mode {
    .container-invoice {
        background-color: base.$clr-black-200;
        color: base.$clr-white-100;
    }

    .nav-view {
        background-color: base.$clr-black-400;
    }

    .grand-total-container {
        background-color: base.$clr-black-100;
    }

    .footer-view {
        background-color: base.$clr-black-500;
    }
}