.btn {

    &:hover,
    &:focus {       
        outline: dashed currentColor;
        outline-offset: .35em;
    }
}
.btn-link {
    display: block;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

}