@use 'sass:color';
@use '../base';
@use '../utils';

.btn {

    &:hover,
    &:focus {
        outline: dashed currentColor;
        outline-offset: .35em;
    }
}

.btn-link {
    display: flex;
    grid-area: 2/2/4/3;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    text-transform: capitalize;
    text-decoration: none;
    overflow: hidden;
    padding-block: 0.5rem;
    z-index: 0;
    @include utils.fonts(base.$clr-white-100, base.$fs-15, 700);   

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &::after {
        position: relative;
        content: "";
        width: 8px;
        height: 8px;
        z-index: 100;
        border-radius: 50%;
    }

    @include utils.mQ(40rem) {
        grid-area: 1/5/1/6;
        padding-block: 0.75rem;
    }

}

.paid-status {
    color: base.$clr-green-400;
    background-color: lighten(base.$clr-green-400, 45%);

    &::after {
        background-color: base.$clr-green-400;
        left: -50px;
    }
}

.pending-status {
    color: base.$clr-orange-100;
    background-color: lighten(base.$clr-orange-100, 45%);

    &::after {
        background-color: base.$clr-orange-100;
        left: -70px;
    }
}

.draft-status {
    color: base.$clr-black-500;
    background-color: lighten(base.$clr-black-500, 45%);

    &::after {
        background-color: base.$clr-black-500;
        left: -50px;
    }
}

.btn-new-invoice {
    border: none;
    background-color: base.$clr-blue-400;
    border-radius: 24px;
    padding-block: 0.5rem;
    gap: 0.5rem;
    padding-inline-end: 1rem;
}

span.container-img {
    padding: .5rem;
    background: base.$clr-white-100;
    border-radius: 50%;
}

.mobile-hidden {
    visibility: hidden;
    width: 0;
    height: 0;

    @include utils.mQ(40rem) {
        visibility: visible;
        width: fit-content;
        height: fit-content;
        padding-left: 0.5rem;
    }
}

.btn-label {
    @include utils.fonts(base.$clr-white-100, base.$fs-15, 700);
}

.btn-return {
    gap: base.$spacer1;
    padding-block: .5rem;
    padding-inline-end: .5rem;
    border-radius: 8px;
    border: none;
    margin-bottom: 1.5rem;
    @include utils.fonts(base.$clr-black-100, base.$fs-15, 700);
}