@use 'sass:color';
@use '../base';
@use '../utils';

.btn {

    &:hover,
    &:focus {
        outline: dashed currentColor;
        outline-offset: .35em;
    }

    &:disabled {
        opacity: 0.5;
    }
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    text-transform: capitalize;
    text-decoration: none;
    overflow: hidden;
    padding-block: 0.5rem;
    z-index: 0;
    @include utils.fonts(base.$clr-white-100, base.$fs-15, 700);

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    @include utils.mQ(40rem) {
        padding-block: 0.75rem;
    }

}

.btn-link-home {
    background-color: base.$clr-black-200;
    padding: 0.5rem;
    color: base.$clr-white-200;
}

.btn-new-invoice {
    border: none;
    background-color: base.$clr-blue-400;
    border-radius: 24px;
    padding: 0.5rem;
    gap: 0.5rem;
    padding-inline-end: 1rem;
    text-decoration: none;
}

.btn-label {
    @include utils.fonts(base.$clr-white-100, base.$fs-15, 700);
}

.btn-return {
    gap: base.$spacer1;
    padding-block: .5rem;
    padding-inline-end: .5rem;
    border-radius: 8px;
    border: none;
    margin-bottom: 2rem;
    background-color: inherit;
    @include utils.fonts(base.$clr-black-100, base.$fs-15, 700);

}

.btn-cancel {
    background-color: base.$clr-white-400;
    padding: 1rem 1.5rem;
    border-radius: 24px;
    border: none;
    text-decoration: none;

    @include utils.fonts(base.$clr-blue-100, base.$fs-15, 700);
}

.btn-save,
.btn-add-project {
    background-color: base.$clr-blue-400;
    padding: 1rem;
    border-radius: 24px;
    border: none;
    @include utils.fonts(base.$clr-white-100, base.$fs-15, 700);
}

.btn-add-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: base.$clr-white-400;
    gap: 1rem;
}

.btn-edit {
    background-color: base.$clr-white-400;
    padding: 1rem 1.5rem;
    border-radius: 24px;
    text-decoration: none;
    @include utils.fonts(base.$clr-blue-100, base.$fs-15, 700);

    &:hover,
    &:focus {
        outline-offset: -0.5em;
    }
}

.btn-delete-view {
    background-color: base.$clr-pink-200;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border: none;
    border-radius: 24px;
    @include utils.fonts(base.$clr-white-100, base.$fs-15, 700);

    &:hover,
    &:focus {
        outline-offset: -0.5em;
    }
}

.btn-mark {
    background-color: base.$clr-blue-400;
    padding: 1rem;
    border-radius: 24px;
    border: none;
    @include utils.fonts(base.$clr-white-100, base.$fs-15, 700);

    &:hover,
    &:focus {
        outline-offset: -0.5em;
    }
}

.nav-view-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.75rem;

    @include utils.mQ(40rem) {
        flex: 1 1 70%;
        justify-content: flex-end;
        gap: 1rem;
    }
}

.dark-mode {
    .btn-return {
        color: base.$clr-white-100;
    }


    .btn-delete {
        background-color: inherit;

        &:hover,
        &:focus {
            outline: dashed base.$clr-white-100;
            outline-offset: -0.65em;
        }
    }

    .btn-add-item {
        background-color: base.$clr-black-400;
        color: base.$clr-white-100
    }

    .btn-edit {
        background-color: base.$clr-black-700;
    }

    .btn-cancel {
        background-color: base.$clr-black-400;
        color: base.$clr-white-100;
    }
}