@use '../base';
@use '../utils';

.cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-block: 1rem;
    row-gap: 1rem;
}

.card {
    position: relative;
    background: base.$clr-white-100;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    border-radius: 8px;
    gap: 1rem;

    @include utils.mQ(40rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.invoice-num {
    font-size: base.$fs-15;
    font-weight: 700;
    color: base.$clr-black-100;
    text-transform: uppercase;
    display: block;
    position: relative;

    &::before {
        position: absolute;
        content: "#";
        top: 0;
        left: -0.75rem;
        color: base.$clr-blue-100;
    }
}

/*
.invoice-num-num {
    display: block;
    position: relative;

    &::before {
        position: absolute;
        content: "#";
        top: 0;
        left: -0.75rem;
        color: base.$clr-blue-100;
    }
}
*/


.clientname {
    font-size: base.$fs-13;
    font-weight: 500;
    color: base.$clr-blue-200;
}

.payment-date {
    font-size: base.$fs-13;
    font-weight: 500;
    color: base.$clr-blue-200;
}