@use 'sass:color';
@use '../base';
@use '../utils';

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(base.$spacer1 * 2);
    text-align: center;
}