@use 'sass:color';
@use '../base';
@use '../utils';

select {
    &:focus-within {
        border: 2px solid base.$clr-blue-200;
        border-radius: inherit;
    }
}

.select-wrapper {
    min-width: 9ch;
    max-width: 30ch;
    // border: 1px solid firebrick;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    // background-color: #fff;
    // background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    position: relative;
    display: grid;
    // grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        width: 0.8em;
        height: 0.5em;
        background-color: base.$clr-blue-200;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        justify-self: end;
        position: absolute;
        right: 1.5rem;
        top: 50%;
        margin-block-start: 0.75em;
    }
}

.select-wrapper-home {
    &::after {
        margin-block-start: -0.25em;
    }
}

.filter {
    padding: 0.25rem;
    min-width: 6rem;
}

.select-options {
    flex: 1 1 50%;
    display: flex;
    align-items: baseline;

    @include utils.mQ(30rem) {}
}

.select {
    appearance: none;
    font-family: inherit;
    // font-size: inherit;
    cursor: inherit;

    &>*+* {
        margin-block-start: 1rem;
    }
}