@use 'sass:color';
@use '../base';
@use '../utils';

select {
    &:focus-within {
        border: 2px solid base.$clr-blue-200;
        border-radius: inherit;
    }
}

.select-wrapper {
    min-width: 9ch;
    max-width: 30ch;
    border-radius: 0.25em;
    padding: 0.25em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        width: 0.8em;
        height: 0.5em;
        background-color: base.$clr-blue-200;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        justify-self: end;
        position: absolute;
        right: 1.5rem;
        top: 50%;
        margin-block-start: 0.75em;
    }

    &:has(select:focus) {
        &::after {
            transform: rotate(180deg);
        }
    }
}

.select-wrapper-home {
    &::after {
        margin-block-start: -0.25em;
    }
}

.select-options {
    flex: 1 1 50%;
    display: flex;
    align-items: baseline;
}

.select {
    appearance: none;
    font-family: inherit;
    cursor: inherit;

    &>*+* {
        margin-block-start: 1rem;
    }
}