@use 'sass:color';
@use '../base';
@use '../utils';

.status-label {
    @include utils.fonts(base.$clr-black-600, base.$fs-13, 500);
}

.status-type {
    @include utils.fonts(base.$clr-orange-100, base.$fs-15, 700);
    opacity: 0.6;
    border-radius: 6px;
    text-transform: capitalize;
    display: block;
    background-color: lighten(base.$clr-pink-200, 35%);
    padding: 0.5rem 2rem;
}

.status {
    width: 100%;

    @include utils.mQ(40rem) {
        flex: 1 1 30%;
    }
}

.dark-mode {
    .status-type {
        background-color: base.$clr-black-700;
    }
}

