@use '../base';
@use '../utils';

.btn-theme-control {
    position: relative;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    padding: calc(base.$spacer1 * 1.8);
    border-radius: 10px;
    height: 100%;

    &:hover,
    &:focus {
        outline: dashed currentColor 1px;
        outline-offset: -0.65em;
    }
    @include utils.mQ(64rem) {    
        margin-inline: calc(base.$spacer2 * 3);
      }
}

.theme-img {
    transform: scale(1.5);
}

.check {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 20px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #151619;
    transition: transform .25s;
}

.hide-theme-img {
    display: none;
}