@use '../base';
@use '../utils';

.header {
    background-color: base.$clr-black-500;
    align-items: stretch;
    position: relative;
    z-index: 100;

    @include utils.mQ(64rem) {
        position: fixed;
        transform-origin: top left;
       // z-index: 1;
        left: 6.5rem;
        top: 0;
        transform: rotate(90deg);
        width: 100vh;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
}

.controls {
    align-items: stretch;
    flex: 1 1 75%;
}

.profile {
    padding: calc(base.$spacer1 * 0.5);
    // max-width: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        background-color: base.$clr-blue-200;
        left: 0;
        top: 0;
    }

    @include utils.mQ(40rem) {
        padding-inline: base.$spacer1;
        padding-block: 0;
    }
}

.filter {
    border: none;
    background-color: inherit;
    // background-image: url("./public/icon-arrow-down.svg");
    // background-repeat: no-repeat;
    // background-position: center right;
    // appearance: none;
}

.logo-container {
    min-width: 4.5rem;
    min-height: 4.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    // background-image: linear-gradient(to bottom, base.$clr-blue-400 0 50%, base.$clr-blue-300 50% 100%);
    background-color: base.$clr-blue-400;

    &::before {
        position: absolute;
        left: 0;
        top: 50%;
        content: "";
        background-color: base.$clr-blue-300;
        width: 100%;
        height: 50%;
        border-radius: 20px 0px 20px 0px;
    }


    @include utils.mQ(64rem) {
        min-width: 6.5rem;
        min-height: 6.5rem;
        border-radius: 0 20px 0 0;

        &::before {
            border-radius: 20px 0 0 0;
        }
    }
}

.btn-logo {
    z-index: 1;
}

.btn-profile-img {
    width: 100%;
    aspect-ratio: 1;
    height: 100%;

    @include utils.mQ(64rem) {
        transform: rotate(280deg);
    }
}