@use '../base';
@use '../utils';

.main {
    margin: base.$spacer1;
    max-width: 45.6rem;

    @include utils.mQ(40rem) {
        margin-inline: base.$spacer1 * 2;
    }

    @include utils.mQ(48rem) {
        margin-inline: auto;
    }

    @include utils.mQ(64rem) {
        margin-block: 0;
        padding-block: 2.5rem
    }
}

.summary-title {
    @include utils.fonts(base.$clr-black-200, base.$fs-24, 700);   
}

.invoice-total-num {
    @include utils.fonts(base.$clr-blue-200, base.$fs-13, 500);   
}

.filter-label {    
    @include utils.fonts(base.$clr-black-100, base.$fs-15, 700); 
    line-height: 1;
}

.filter-new {
    gap: 1rem;
}